<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" requestValidationMode="2.0"/>
    <pages validateRequest="false">

    </pages>
  </system.web>
  <appSettings configSource="App_Data\AppSettings.config">
    <!--数据操作对象 MySql-->
    <!--<add key="DALAssembly" value="BulaqCMS.DAL.MySql"/>
    <add key="DALNameSpace" value="BulaqCMS.DAL.MySql"/>-->
  </appSettings>
  <connectionStrings configSource="App_Data\ConnectionString.config">
  </connectionStrings>
  <system.webServer>
    <modules>
      <add name="routeModule" type="BulaqCMS.BulaqHttpModule"/>
    </modules>
  </system.webServer>
</configuration>
