<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!--数据操作对象 MySql-->
  <add key="DALAssembly" value="BulaqCMS.DAL.MySql"/>
  <add key="DALNameSpace" value="BulaqCMS.DAL.MySql"/>
  <!--安装配置文件-->
  <add key="BulaqInstalled" value="False"/>
  <add key="BulaqInstallTime" value="2012-08-08"/>
  <add key="DatabaseConnectionString" value=""/>
</appSettings>